@implements IDisposable

@inject NavigationManager _navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HotelWeb</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <AuthorizeView Roles="Admin,Receptionist">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <RadzenIcon Icon="home" Style="margin-right:8px" />
                        Home
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <RadzenIcon Icon="hotel" Style="margin-right:8px" />
                Rooms
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/reservations">
                        <RadzenIcon Icon="event_available" Style="margin-right:8px" />
                        Reservations
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Receptionist">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/housekeeping">
                        <RadzenIcon Icon="cleaning_services" Style="margin-right:8px" />
                        Housekeeping
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/customers">
                        <RadzenIcon Icon="groups" Style="margin-right:8px" />
                        Customers
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/employees">
                        <RadzenIcon Icon="badge" Style="margin-right:8px" />
                        Employees
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <RadzenIcon Icon="person" Style="margin-right:8px" />
                        @context.User.Identity?.Name
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />

                        <button type="submit" class="nav-link btn btn-link text-start">
                            <RadzenIcon Icon="logout" Style="margin-right:8px" />
                            Logout
                        </button>
                    </form>
                </div>
            </Authorized>

            <NotAuthorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <RadzenIcon Icon="person_add" Style="margin-right:8px" />
                        Register
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <RadzenIcon Icon="login" Style="margin-right:8px" />
                        Login
                    </NavLink>
                </div>

            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
        _navigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = _navigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        _navigationManager.LocationChanged -= OnLocationChanged;
    }
}