@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using HotelWeb.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length == 0)
{
    <RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" ShowIcon="true">
        There are no external authentication services configured. See this
        <a href="https://go.microsoft.com/fwlink/?LinkID=532715" target="_blank" rel="noopener">article about setting up this ASP.NET application to support logging in via external services</a>.
    </RadzenAlert>
}
else
{
    <form action="Account/PerformExternalLogin" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" Style="flex-wrap: wrap;">
            @foreach (var provider in externalLogins)
            {
                <RadzenButton ButtonType="ButtonType.Submit"
                             Name="provider"
                             Value="@provider.Name"
                             Text="@provider.DisplayName"
                             Icon="login"
                             Title="@($"Log in using your {provider.DisplayName} account")" />
            }
        </RadzenStack>
    </form>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
